img{
    width: 450px;
    height: 300px;
    border-top-right-radius: 30px; 
    border-top-left-radius: 30px;   
    padding: 0;
}
section{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 30px;
    width: 450px;
    height: 350px;
    margin: 4% 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
p{
    margin: 0;
}
#sub-prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
#sub-prod > p{
    margin: 1%;
}
#sub-prod > button{
    margin: 1%;
}
#btn-cerrar{
    background: red !important;
}
