{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/form.add.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <strong>Caferia Juanito</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars-rs-food">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% block home %} active{% endblock%}">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item {% block producto %} {% endblock%}">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item {% block about %} {% endblock%}">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'BD'  %}">BBDD</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add'  %}">Agregar</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contact</a>
          </li>
        </ul>


    </div>
  
  </nav>
    
<form class="table " method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-success" type="submit">Guardar</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>