{% extends 'coffe/index.html' %}

	<!-- End header -->
	
	{%block active-index %} <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">Home</a></li> {%endblock%}
				
						{% block active-menu %}<li class="nav-item"><a class="nav-link  " href="{% url 'menu' %}">Productos</a></li> {% endblock %}
						{% block active-about%}<li class="nav-item"><a class="nav-link  " href="{% url 'about' %}">About</a></li> {% endblock %}
						{% block active-pedidos%}<li class="nav-item"><a class="nav-link" href="{% url 'pedidos' %}">Pedidos</a></li> {% endblock %}
						
						{% block active-contacto%}<li class="nav-item active"><a class="nav-link" href="{% url 'contacto' %}/">Contacto</a></li> {% endblock %}
						{% block active-login%}<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li> {% endblock %}

						{%  block contenido  %}
	<!-- Start All Pages -->

	<!-- End All Pages -->

	<div class="col-lg-12 pt-5">
		<form action="{% url 'contacto' %}" method="post" class="mt-5 py-5 container bg-warning col-lg-12">
			{% csrf_token %}
			<input type="text" name="nombre" placeholder="Ingrese su nombre" class="col-lg-6">
			<input type="email" name="correo" placeholder="Ingrese su correo" class="col-lg-6">
			<textarea name="mensaje" cols="6" rows="5" class="col-lg-6"></textarea>
			<button type="submit" class="btn btn-warning border-dark">Enviar</button>
		</form>
	</div>
			
	<!-- End Contact -->
	
	<!-- Start Contact info -->
	
	<!-- End Contact info -->
	{% endblock %}