{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/form.add.lis.css'%}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <strong>Caferia Juanito</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars-rs-food">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% block home %} active{% endblock%}">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item {% block producto %} {% endblock%}">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item {% block about %} {% endblock%}">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'BD'  %}">BBDD</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add'  %}">Agregar</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contact</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdropadd" id="btn-nav-add">Agregar
        producto</button>

    </div>
  
  </nav>
  <div class="modal fade " id="staticBackdropadd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
      <div class="modal-content col-lg-12 bg-success ">
        <div class="modal-header col-lg-12 bg-success">
          <h1 class="modal-title fs-5" id="staticBackdropaddLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0 col-lg-12">
          <form class="table " method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table}}
            <button class="btn btn-success" data-bs-dismiss="modal" type="submit">Guardar</button>
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table  table-bordered text-center my-5  table-sm container">
    <thead class="align-middle table-sm">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Imagen</th>
        <th>accion</th>
      </tr>
    </thead>
    <tbody class="align-middle ">
      {% for x in productos %}
      <tr>
        <td>{{x.id_producto}}</td>
        <td>{{x.nombre}}</td>
        <td>{{x.descripcion}}</td>
        <td>{{x.precio}}</td>
        <td>{{x.fk_categoria}}</td>
        <td><img src="{{x.imagen.url}}" width="150" height="100" alt=""></td>
        <td><a href="" class="btn bg-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editar</a>
          <a href="{% url 'dele' x.id_producto  %}" class="btn bg-danger" id="t-btn-eliminar">Eliminar</a>
        
        </td>
      </tr>

      {#  modal de activacion editar  #}
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content col-lg-12">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  bg-warning">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img src="{{x.imagen.url}}" class="col-sm-6 my-1" width="60" height="50" alt="">
                <label for="id_nombre">Producto</label>
              <input type="text" class="col-sm-12 my-1" id="id_nombre"
              value="{{x.nombre}}">

              <label for="id_descripcion">Descripcion</label>
              <input type="text" class="col-sm-12 my-1" id="id_descripcion" value="{{x.descripcion}}">

              <label for="id_precio">Precio</label>
              <input type="text" class="col-sm-12 my-1" id="id_precio" value="{{x.precio}}">

              <label for="id_imagen">Imagen</label>
              <div class="col-sm-12">
                <input type="file" class="col-sm-6 my-1" id="id_imagen" value="">
              

              </div>
              
              <input type="submit" value="">
            </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>

  </table>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
  <script defer src="{% static '/js/list-producto.js' %}"></script>
  <script defer src="{% static '/js/bootstrap.min' %}"></script>
</body>

</html>