{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/pedido.css'  %}">
    {#<link rel="stylesheet" href="{% static '/css/bootstrap.min.css'  %}">#}
    <title>pedidos</title>
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
        <h1>Bienvenido: {{request.user.username}}</h1>
        <a href="{% url 'salir' %}">Salir</a>
        {% else %}
        <h1>Pagina de pedido</h1>
        {% endif %}
        
    </nav>

    
    <aside>
        <ul>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'index' %}">About</a>
            <a href="{% url 'productos' %}">Producto</a>
            <a href="{% url 'BD' %}">Pedidos</a>
        </ul>
    </aside>
    <section>
        <div id="categorias">
            <ul>
                <a href="{{0}}" id="btn-cate">{#  <img src="{% static '/images/icon-cate/icon-todooo.webp' %}" width="80" height="50" alt=""> #} Todo los Productos</a>
            {% for i in categorias   %}
            {% if i.id_categoria == 2 %}
            <a href="{{i.id_categoria}}" id="btn-cate"> {# <img src="{% static '/images/icon-cate/icon-ensa.png' %}" width="100" height="50" alt="">#} Ensalada </a>
            {% elif i.id_categoria == 3 %}
            <a href="{{i.id_categoria}}" id="btn-cate"> {# <img src="{% static '/images/icon-cate/icon-sandwich-01.png' %}" width="100" height="50" alt=""> #} Sandwich</a>
            {% elif i.id_categoria == 4 %}
            <a href="{{i.id_categoria}}" id="btn-cate"> {# <img src="{% static '/images/icon-cate/postres1.png' %}" width="100" height="50" alt=""> #} Postres</a>
            {% elif i.id_categoria == 5 %}
            <a href="{{i.id_categoria}}" id="btn-cate"> {# <img src="{% static '/images/icon-cate/icon-plato-caliente.png' %}" width="100" height="50" alt="">#} Caliente</a>
            {% endif %}
            {% endfor %}
            </ul>

        </div>
        <div id="list_produc">
            {% if true %}
                {% for p in productos  %}

            <article id="tarjeta-pedido" class="headline">
                <div id="contenido-pedido">
                    <img src="{{p.imagen.url}}" alt="">
                    <div id="detalle"> <p id="nombre">{{p.nombre}}</p> <p id="precio">{{p.precio}}</p></div>
                    <p id="descripcion">
                        {{p.descripcion}}
                    </p>
                </div>

            </article>
            {% endfor %}
            {% else %}
                {% for i in producto  %}
            <article id="tarjeta-pedido" class="headline">
                <div id="contenido-pedido">
                    <img src="{{i.imagen.url}}" alt="">
                    <div id="detalle"> <p id="nombre">{{i.nombre}}</p> <p id="precio">{{i.precio}}</p></div>
                    <p id="descripcion">
                        {{i.descripcion}}
                    </p>
                </div>

            </article>
            {% endfor %}
            {% endif %}

        </div>
    </section>
    

</body>
</html>