form{
    width: 580px;
    height: 450px;
    background-color: none;
}

table{
    margin-top: 50px !important;
}
thead{
    background: black;
    color: wheat;
    position: sticky !important;
    top: 0;
}
tr:hover{
    background: rgba(66, 207, 231, 0.719);
    color: black;
    align-items: center;
    text-align: center;
}

td:hover{
    background: rgba(244, 248, 21, 0.719);
    color: black;
    align-items: center;
    text-align: center;
}
input,select,button{
    margin-top: 0.5%;
    border-radius: 10px;
    border: none;
    text-align: center;
    align-self: center;
    width: 80%;
    height: 45px;
}
label{
    text-align: center;
}
#btn-nav-add{
    width: 150px !important;
    margin: 0 0 0 5%;
}
#staticBackdropadd{
    padding: 0 !important;
}
